<div class="shopping-list-container">
    <h1>Shopping List</h1>
    <div class="shopping-list-summary">
        <p>Amount of food items to buy: </p>
        <p>Total value of food needed: </p>
    </div>
    <div class="shopping-list">
        <table class="table-shopping-list">
            <thead>
                <th>Food</th>
                <th>Quantity</th>
                <th>Price</th>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>