<div class = 'recipe_container'>
  <h1> Public recipes </h1>
  <% if @recipes.any? %>
    <% @recipes.each do |recipe| %>
      <div class='container'>
        <div class='name_and_btn'>
          <p class='recipe_title'><%= link_to recipe.name, recipe_path(recipe.id) %></p>
          <p>By: <%= recipe.user.name %> </p>
        </div>
        <div class='description'>
          <p>Total food items:<%= recipe.recipe_foods.count %></p>
          <p>Total price: <%= total_price(recipe)%></p>
        </div>
      </div>
    <% end %>
  <% else %>
      <h2>There are no public recipes</h2>
  <% end %>
</div>