* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 150px;
  margin: 30px auto;
  padding: 0 20px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_and_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
}

.recipe_title > a {
  text-transform: uppercase;
  font-size: 1.5em;
}

.description {
  width: 60%;
  height: 100%;
  text-align: justify;
  padding: 30px 0;
}

.table-food,
th,
td {
  border-collapse: collapse;
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.recipe_container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  padding: 20px 0;
  gap: 30px;
}

.recipe_container > h1 {
  text-transform: capitalize;
}

.recipe_details_and_toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 180px;
}

.recipe_details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  height: 100%;
  padding: 20px 0;
}

.toggle_btn {
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
  gap: 10px;
}

.recipe_buttons {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.divisor {
  height: 3px;
  width: 75%;
  background-color: #313131;
}

.recipe_ingredients {
  width: 80%;
}

.recipe_ingredients > table {
  width: 100%;
}

.recipe_ingredients > table > thead {
  background-color: #acacac;
}

tbody > tr:nth-child(odd) {
  background-color: #ddd8d8;
}

.shopping-list-container {
  width: 80%;
  height: 150px;
  margin: 30px auto;
  padding: 0 20px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.shopping-list-summary {
  display: flex;
  padding: 10px;
  margin-top: 10px;
  justify-content: space-between;
  width: 100%;
}
