* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  height: 150px;
  margin: 30px auto;
  padding: 0 20px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name_and_btn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 20%;
}

.recipe_title > a {
  text-transform: uppercase;
  font-size: 1.5em;
}

.description {
  width: 60%;
  height: 100%;
  text-align: justify;
  padding: 30px 0;
}